on:
  push:
jobs:
  ci:
    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners
        os: [ubuntu-latest, macos-12, macos-13, macos-14]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    permissions:
      contents: "read"
    steps:
      - uses: "actions/checkout@v4"
      - uses: "DeterminateSystems/nix-installer-action@main"
      - uses: "DeterminateSystems/magic-nix-cache-action@v6"
      - name: Context
        run: |
          nix --version
      - name: Lint
        run: make lint
      - name: Flake Check
        run: make flake-check
      - name: Example Flake
        run: nix develop . --show-trace
